body {
    background-color:lightpink;
    color: darkblue;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    display: flex;
}

.quiz-container {
    background-color: beige;
    border: 2px solid black;
    border-radius: 3px;
    width:50%;
    padding:20px;
    text-align: center;

}

.question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.restart-btn {
    background-color: cornflowerblue;
    width: 20%;
    font-family: monospace;
    color:black;
    margin: 5px;
    display: none;
    margin: 5px auto;
}

.restart-btn:hover {
    background-color: aquamarine;
}


.option {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.option:hover {
    background-color: #007bff;
    color: #fff;
}
.timer {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ff5722;
}

.result {
    font-size: 1.5em;
    color: #4caf50;
    display: none;
}